<html>

    <head>

        <title>Layout 1</title>
        <link rel="stylesheet" href="layout1.css">

    </head>

    <body>
        
        <header class="cabecalho">
            
            <a href="" class="logo">LOGO</a>

            <div class="menu">
                <a href="">Pagina 1</a>
                <a href="">Pagina 2</a>
                <a href="">Pagina 3</a>
            </div>

        </header>


        <main class="conteudo">

            <div class="fundo"></div>

            <h1 class="titulo">Meu Título</h1>
            <p class="descricao">Minha descrição do filme</p>



        </main>

        <footer>

        </footer>
    </body>


</html>